// Your customize CSS

$a-color: #8B4513;
$a-hover-color: #8b6349;


.dropdown-menu a:hover {
  //background-color: #a1d9ae;
  background-color: lightgray;
  color: black;
}

.dropdown a:hover {
  //background-color: #a1d9ae;
  background-color: lightgray;
  color: black;
}

@include media-breakpoint-down(md) {
  .navbar-nav {
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
}

.red {
  color: #7b140c;
}

.red-clr {
  @extend .red;
  text-decoration-color: #63e792;
}

a {
  color: $a-color;
}

a:hover {
  color: $a-hover-color;
}

//.dropdown-item:hover {
//  font-weight: bolder;
//}

.header-container {
  @extend .container;
  z-index: 100 !important;
  border-bottom: 1px solid darkslategray;
}

.footer-container {
  @extend .container;
  z-index: 100 !important;
  border-top: 1px solid darkslategray;
}

.sex-symbol {
  min-height: 65px;
  max-height: 65px;
}

.footer-container p {
  color: #4f4f4f;
  font-size: $font-size-base * 1.3;
  @include media-breakpoint-down(md) {
    font-size: $font-size-base * 1;
  }
  text-align: center;
  text-shadow: 1px 1px 1px black;
  margin-top: 10px;
  margin-bottom: 3px;
}

// use next css style just for small devices
@include media-breakpoint-down(sm) {
  .row:not(.row-no-bottom-border){
    //border-bottom: 1px solid darkgreen;
    border-bottom: 1px solid darkslategray;
  }
}

.row {
  padding-bottom: 5px;
  padding-top: 5px;
}

.rows-stripped .row:not(.rowHeader):not(.noStrip):nth-child(even) {
  //background: #B4C5B4;
   background: #d6d6d6;
}

.rows-stripped .row:not(.rowHeader):not(.noStrip):nth-child(odd) {
  //background: #a4c2a4;
   background: #ececec;
}

 .rows-hover .row:not(.rowHeader):not(.noStrip):hover {
  //background: rgb(167, 232, 162);
   background: #a1d9ae;
}

.rowHeader {
  background: #474747;
  color: #e0e0e0;
}

.shorten-col {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

$newsFontSize: $font-size-base * 0.9;
.newsTitle-sm {
  font-size: $newsFontSize;
  padding-top: 10px;
}

.newsText-sm {
  font-size: $newsFontSize * 0.85;
}

.news-panel {
  padding: 10px;
  margin-bottom: 15px;
  @include media-breakpoint-down(md) {
    //background-color: red;
  }
  @include media-breakpoint-up(md) {
    border: 1px solid #c1c1c1;
    //background-color: blue;
  }
}

.content {
  @include media-breakpoint-down(sm) {
    // background-color: red;
  }
  @include media-breakpoint-up(md) {
    //background-color: blue;
    //background-image: linear-gradient(to right, red, yellow);
    // border: 1px solid #c1c1c1;

    background-attachment: fixed;

    //rozmazani textu a pozadi
    //filter: blur(8px);
    //-webkit-filter: blur(8px);

    //&:after {
    //  content: "";
    //  background-image: url('../public/images/cpsk_bg.jpg');
    //  background-attachment: fixed;
    //  background-position: center top;
    //  background-repeat: no-repeat;
    //
    //  position: absolute;
    //  left: 0;
    //  top: 0;
    //  height: 100vh;
    //  width: 100vw;
    //  filter: blur(8px);
    //  -webkit-filter: blur(8px);
    //  z-index: 1;
    //}
  }
}

.container {
  @media (max-width: 1200px) {
    max-width: 97vw;
  }
  @media (max-width: 500px) {
    padding-right: 3px;
    padding-left: 3px;
  }

  @include media-breakpoint-down(sm) {
    //background-color: #D2E5CD;
  }
  @include media-breakpoint-up(md) {
    // border: 1px solid #c1c1c1;
    //background-color: #D2E5CD;
  }
  position: relative;
  z-index: 2;
  //box-shadow: 50px 0 50px #D2E5CD, -50px 0 50px #D2E5CD, 0 -50px 50px #D2E5CD
  //box-shadow: 50px 0 50px white, -50px 0 50px white, 0 -50px 50px white
}

//.main-menu {
//  @include media-breakpoint-down(sm) {
//    background-color: white;
//  }
//  @include media-breakpoint-up(md) {
//    border: 1px solid #c1c1c1;
//    background-color: #B4C5B0;
//  }
//}


//.header {
//  border-bottom: 1px solid darkslategray;
//}

.centralize-content {
  display: flex;
  justify-content: center;
}

@include media-breakpoint-up(lg) {
  .mobile-menu {
    display: none;
    border: 3px solid red;
  }
  //.menu-container {
  //  width: 100%;
  //  //border: 3px solid red;
  //  display: flex;
  //  justify-content: center;
  //}
  .header {
    height: 190px;
    flex: 0 0 120px;
  }
}

@include media-breakpoint-down(md) {
  .full-menu {
    display: none;
    border: 3px solid green;
  }
  //.menu-container {
  //  width: 100%;
  //  //border: 3px solid blue;
  //  display: block;
  //  justify-content: center;
  //}
  .header {
    height: 60px;
    flex: 0 0 60px;
  }
}

.main-menu, .navbar-collapse {
  // border: 1px solid #c1c1c1;
  //background-color: #B4C5B0;
  background-color: white;
  z-index: 100;
  //border: 3px solid red;
}

.dropdown-menu {
  border: 1px solid black;
  //background-color: #c4e5c4;
  background-color: white;
  z-index: 100;
}

.nav-item {
  margin-left: 5px;
}

//.navbar {
//  @include media-breakpoint-down(sm) {
//    background-color: #D2E5CD;
//  }
//  @include media-breakpoint-up(md) {
//    border: 1px solid #c1c1c1;
//    background-color: #D2E5CD;
//  }
//}


.warnTitle-sm {
  @extend .newsTitle-sm;
}

.warnText-sm {
  @extend .newsText-sm;
}

.warn-panel {
  padding: 10px;
  margin-bottom: 30px;
  @include media-breakpoint-down(sm) {
    //background-color: red;
  }
  @include media-breakpoint-up(md) {
    border: 1px solid #c1c1c1;
    //background-color: blue;
  }
}


//index
// bude zalamovat sloupce pod sebe...
.main-content {
  @include media-breakpoint-down(sm) {
    flex-flow: column-reverse;
  }
}

.carousel-item {
  background-color: #ffffff;
  height: 15rem;
}

.carousel-indicators li {
  border: 1px solid black;
  background-color: white;
}

.carousel-indicators li.active {
  border: 1px solid white;
  background-color: black;
}

.carousel-container {
  height: 250px;
}

.wrap {
  display: flex;
  height: 100vh;
  flex-flow: column;
  width: 100%;
}

.content {
  flex: 1 1 auto;
  overflow: auto;
}

.dogCard {
  padding: 30px;
  margin-bottom: 25px;
  border: 1px solid #000000;
}

$maleColor: darkblue;
$femaleColor: deeppink;

.dogCard.male {
  border: 2px solid $maleColor;
  // background-color: lighten( $maleColor, 20% );
}

.dogCard.female {
  border: 2px solid $femaleColor;
  // background-color: lighten( $femaleColor, 20% );
}

$dogNameFontSize: $font-size-base * 1.2;

.dogName {
  font-size: $dogNameFontSize;
  font-style: italic;
  padding-bottom: 10px;
  height: $dogNameFontSize * 2 * 1.2;
}

$img-tumbnail-max-height: 200px;
.img-tumbnail-max-height {
  height: $img-tumbnail-max-height;

  //margin-left: auto;
  //margin-right: auto;
  display: block;
}

.img-max-height {
  height: $img-tumbnail-max-height * 0.95;
}

.modal-dialog {
  //max-width: 70%;
  max-height: 90%;
}

.item-label {
  font-weight: bolder;
}

.item-value {
}

.dogCardStamp {
  padding-right: 50px;
  padding-bottom: 50px;
}

.dogCardAddressItem {
  border-bottom: 1px solid #000000;
}

.dogCardMobile {
  padding-bottom: 50px;
  //border-bottom: 1px solid #c1c1c1;
}

.dogCardDetailClick {
  cursor: pointer;
  color: $a-color;
}

.hidden {
  display: none;
}

//.carousel-inner > .item > img {
//  width:640px;
//  height:360px;
//}

//.carousel {
//  width:640px;
//  height:100%;
//}
//.carousel-inner {
//  overflow: visible;
//}

// Add SASS theme customizations here..
@import './carousel.css';

#summary {
  font-size: 14px;
  line-height: 1.5;
}

#summary p.collapse:not(.show) {
  //height: 42px !important;
  height: 6em !important;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#summary p.collapsing {
  //min-height: 42px !important;
  min-height: 6em !important;
}

#summary a.collapsed:after {
  content: '+ Read More';
}

#summary a:not(.collapsed):after {
  content: '- Read Less';
}

.articleImg {
  max-width: 35%;
  margin: 5px 20px;
}
